@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Work Sans', sans-serif;
}

/* resuable code */

:root{
    --heading:rgb(0 10 45);
    --para:#777 ;       /* #777777 */
    --para-tint:#e4e4e4;
    --white:#fff;
    --black:#212529;
    --helper:#8490ff;
    --overlay:#3e64ff;
    --helper-tint:#f3f4ff;
    --bg:rgb(249 249 255);
    --icons-bg:rgba(144, 172, 209, 0.2);
    --gradient: linear-gradient(0deg,rgb(132 144 255) 0%, rgb(98,189,252) 100%);
    --gradientSupport: -webkit-linear-gradient(
        0deg,
        rgb(132 144 255) 0%,
        rgb(98 189 252) 100%
    );
    --shadow:0px 0px 20px 0px rgb(132 144 255 / 20%);
    --shadowSupport:0px 20px 20px 0px rgb(132 144 255 / 30%);
}

html{
    font-size:62.5%; /* 1 rem = 10 px */
    overflow-x:hidden;
}

body{
    overflow-x:hidden;
}

h1,h2,h3,h4{
    font-family: 'Poppins', sans-serif;
}

h1{
    color: var(--heading);
    font-size:6rem;
    font-weight:600; 
}

h3{
    font-size:1.8rem;
    font-weight:400;
    font-size:1.7rem;
}

p{
    color:var(--para);
    line-height:1.6rem;
    font-size:1.7rem;
}

a{
    text-decoration:none;
}

li{
    list-style:none;
}

/* Starting Header Section  */

.header{
    padding:0 4.8rem;
    height:10rem;
    background-color: var(--bg);
    /* background-color: rebeccapurple; */
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    height: 3rem;
    
}

.navbar-lists{
    display:flex;
    gap:4.8rem;
}

.navbar-link:link,
.navbar-link:visited{
    display:inline-block;
    text-decoration:none;
    font-size:1.8rem;
    font-weight:500;
    text-transform:uppercase;
    color:var(--black); 
    transition:color 0.4s linear;
}

.navbar-link:hover,
.navbar-link:active{
    color:var(--helper);
}

.mobile-navbar-btn{
    display:none;
    background-color: transparent;
    cursor:pointer;
    border:none
}

.mobile-nav-icon[name="close-outline"]{
    display:none;
}

/* resuable code */
/* hero */
.section{
    padding:9rem 0;
}

.grid{
    display:grid;
    gap:9rem; 
}

.grid-two-column{
    grid-template-columns:repeat(2, 1fr);  /* grid-template-columns:1fr 1fr; */
}

.btn{
    background: var(--gradientSupport);
    color:var(--helper-tint);
    padding:1.6rem 3.2rem;
    border:none;
    display:inline-block;
    text-transform:uppercase;
    font-size:1.8rem;
    font-weight:500;
    cursor:pointer;
    transition:all .3s ease;

    -webkit-transition:all .3s ease 0s ;
    -moz-transition:all .3s ease 0s ;
    -o-transition:all .3s ease 0s;
}

.btn:hover, .btn:active{
    box-shadow:var(--shadowSupport);
}

.container{
    max-width:111rem;  
    margin:0 auto;
}

/* bio-data */
.common-heading{
    font-size:4.8rem;
    font-weight:600;
    margin-bottom:6rem;
    text-transform:capitalize;
    position:relative;
}

.common-heading::before{
    content:'';
    position:absolute;
    top:110%;
    left:0;
    width:1.5rem;
    height:1.5rem;
    border-radius:50%;
    background:var(--helper);
}

.common-heading::after{
    content:'';
    position:absolute;
    top:117%;
    left: 1.5rem;
    min-width:20rem;
    height:0.3rem;
    background:var(--helper)
}
/* portfoili */
.grid-three-column{
    grid-template-columns:repeat(3,1fr);
}

.grid-four-column{
    grid-template-columns:repeat(4,1fr);
}

/* Staring Hero Section */

.section-hero{
    background-color:var(--bg);
}

.section-hero-data{
    display:flex;
    flex-direction:column;
    justify-content: center;
    /* align-items: flex-start; */
}

.hero-top-data{
    text-transform: uppercase;
     font-weight: 500;
     font-size:1.5rem;
     color:var(--helper);
}

.hero-heading{
    text-transform:uppercase;
    font-size:6.4rem;
    font-weight:700;
}

.hero-para{
    margin-top:1.5rem;
    margin-bottom:5rem;
    max-width:60rem;
}

.section-hero-image{
    display:flex;
    justify-content: center;
    align-items:center
}

.hero-img{
    max-width:90%;
}

/* my own */
.section{
    padding:5rem 0;
}

/* Starting bio-data Section */

.bio-image{
    display:flex;
    justify-content: center;
    align-items: center;
}

.bio-image img{
    width:80%;
    box-shadow:-2rem -2rem 0 0 var(--helper);
    display:inline-block;
}

.bio-data-stats{
    display:flex;
    padding:6.4rem 0;
    flex-direction:column;
    gap:3rem;
}

.bio-stats h3{
    margin-bottom: 1rem;
}

.bio-progress-bar{
    width:90%;
    height:0.8rem;
    background-color:var(--para-tint);
    border-radius:10rem;
    box-shadow: var(--shadow);
    position:relative;
}

.bio-progress-bar::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:80%;
    height:inherit;
    background:var(--gradientSupport);
    border-radius:10rem;
}

.bio-progress-2::before{
    width:85%;
}

.bio-progress-3::before{
    width:80%;
}

.bio-progress-4::before{
    width:75%;
}

.bio-progress-5::before{
    width:70%;
}

.bio-progress-bar span{
    position:absolute;
    top:1.8rem;
    width:4rem;
    height: 2rem;
    background: var(--helper);
    color:var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    outline:0;
}

.bio-progress-bar span{
    left:74%;
}

.bio-progress-2 span{
    left:81%;
}

.bio-progress-3 span{
    left:74%;
}

.bio-progress-4 span{
    left:71%;
}

.bio-progress-5 span{
    left:66%;
}

.bio-progress-bar span::before{
    content:"";
    position: absolute;
    width:0;
    height: 0;
    border:0.8rem solid var(--helper);
    border-color:transparent;
    border-bottom-color: var(--helper);
    top:-1.6rem;
}

/* protfolio Section starting */

.section-portfolio{
    background: var(--bg);
    transition:all 0.7s linear;
}

.section-portfolio p{
    max-width:60rem;
}

.p-btns{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3.2rem;
    margin:6.4rem 0;
}

.portfolio-images{
     gap:3.2rem;
}

.portfolio-images img{
    width:100%;
    height:100%;
    border-radius:7px;
    overflow:hidden;
    position:relative;
}

.img-overlay{
    position:relative;
    overflow:hidden;
}

.img-overlay .overlay{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:var(--gradientSupport);
    opacity:0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform:translateY(100%);
    transition:all 0.3s linear;
    border-radius:7px
}

.img-overlay:hover  .overlay{
    transform:translateY(0);
    opacity:0.8;
    cursor: pointer;
}

.img-overlay .common-heading{
    margin:0;
    color:var(--white);
    text-decoration:none;
}

.p-btn-active{
    transform:translateY(-1rem);
}

.p-image-not-active{
    display: none;
}

/* work data */


.section-work-data{
    background:var(--gradientSupport);
    text-align:center;
    transition:all 0.7s linear;
    color:var(--white);
}

.counter-number{
    font-size:4.8rem;
} 

.section-work-data p{
    color:var(--white);
    text-transform:capitalize;
}

/* our services section start */

.section-services{
    transition:all 0.7s linear;
}

.section-services p{
    max-width:60rem;
}

.section-services .grid{
    margin-top:10rem;
    row-gap:10rem;
}

.service-box{
     text-align:center;
     box-shadow:var(--shadow);
     border-radius:5px;
     padding:6.4rem 3.4rem;
     transition:all 0.2s linear;
}

.service-box:hover, .service-box:active{
    transform:translateY(-3rem);
}

.service-icon{
    width:8rem;
    height:8rem;
    background-color:var(--icons-bg);
    display:inline-flex;
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    padding:1.4rem 1.8rem;
    position:relative;
    color:var(--heading);
    animation:water-wave 3s linear infinite;    
    cursor: pointer;
}

.service-icon::after{
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    height:90%;
    width:90%;
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    background-color:transparent;
    border:1px solid var(--black);
    animation:water-wave 3s linear infinite;
}

@keyframes water-wave{
    0%{
        border-radius:56% 44% 70% 30% / 30% 54% 46% 70%;
    }
    50%{
        border-radius:3% 97% 15% 85% / 72% 0% 100% 28%;
    }
    100%{
        border-radius:56% 44% 70% 30% / 30% 54% 46% 70%;
    }
}

.service-box h3{
    text-transform:capitalize;
    margin-top:3rem;
    margin-bottom: 1rem;

}

/* swiper */

.swiper {
    width: 100%;
    height: 100%;
    margin-top:10rem
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-client-msg{
    padding:5rem 8rem;
    background: var(--white);
    border-radius:1rem;
    text-align:left;
    box-shadow:var(--shadow);
    position:relative;
  }

  .swiper-client-msg::before{
    content:"";
    position:absolute;
    bottom:-10rem;
    left:50%;
    border:5rem solid var(--white);
    border-color:transparent;
    border-top-color:var(--helper-tint);
  }

  .swiper-client-msg p::before{
    content:"\f10d";
    position: absolute;
    top:1rem;
    left:2rem;
    font-size:5rem;
    font-family:"Font Awesome 6 free";
    font-weight:900;
    color:#ced3ff;
  }

  .swiper-client-msg p::after{
    content:'\f10e';
    position:absolute;
    bottom:1rem;
    right:5rem;
    font-size:5rem;
    font-family:"font awesome 6 free";
    font-weight:900;
    color:#ced3ff;

  }

  .swiper-slide img{
    max-width:10rem;
     height:10rem;
    border-radius:50%;
   border:0.5rem solid var(--helper-tint);
  }

  /* my own */
  .swiper-client-data{
    align-items:center;
    margin-top:3.2rem;
    gap:3rem;
    display:flex;
    justify-content: center;
  }

  /* Freelancting */

  .section-freelancing{
    background-image:url('../images/last.jpg');
    background-repeat:no-repeat;
    background-size:100%;
    background-attachment:fixed;
    position:relative;
    transition:all 0.7s linear;
    text-align: center;
  }

 .section-freelancing .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:var(--overlay);
    opacity:0.7;
  }

.section-freelancing .container{
    position:relative;
  }

  .section-freelancing h2{
    font-size:5.4rem;
  }

  .section-freelancing span{
    color:#a0f669;
  }

  .section-freelancing h2, .section-freelancing p{
    color:var(--white);
    margin-bottom:1.8rem;
  }

  /* contact us */

  .section-contact-main{
      max-width:70rem;
    margin:0 auto;
    margin-top:9rem;
    transition:all 0.3s linear;
  }

  .section-contact-main .grid{
    gap:3.2rem;
  }

  .section-contact-main form{
    display: flex;
    flex-direction: column;
    gap:3.2rem;
  }

  .section-contact-main input, .section-contact-main textarea{
    padding:1.5rem 2rem;
    border:0.1rem solid #c9c9c9;
    border-radius:5px;
    font-size:1.6rem;
    font-family: "Work Sans";
    width:100%;
  }

  .section-contact-main input[type="submit"]{
    max-Width:30%;
    border:none;
  }

  /* footer */

  .section-footer{
    background:var(--heading);
    transition:all 0.7s linear;
  }

  .section-footer h3{
    color:var(--white);
    margin-bottom:4rem;
  }

  .f-about p{
    color:#adadad;
  }

  .f-links ul, .f-services ul, .f-address address{
    display:flex;
    flex-direction: column;
    gap:1.8rem;
    justify-content: center;
  }

  .f-links li, .f-links a, .f-services li, .f-services a{
    font-size:1.8rem;
    color:#adabad;
    text-transform:capitalize;
  }

  .f-links span, .f-services span, .f-address span{
    margin-right: 1rem ;
  }

  .f-address p ,.f-address p a{
    font-style:normal;
    color:#adadad; 
  }

  .f-social-icons{
    margin:5rem 0;
    color:#adadad;
    text-align: center;
  }

  .f-social-icons .icons{
    width:4rem;
    height:4rem;
    background-color: var(--icons-bg);
    display:inline-block;
    padding:1.4rem 1.8rem;
    position:relative;
    color:var(--white);
    animation:water-wave 3s linear infinite;
  }

  .f-credits p{
    text-align: center;
  }

 footer a:hover, footer a:active{
    color:var(--white);
  }

  /* scroll */

  .scrollTop-style{
    position: fixed;
    right: 2%;
    bottom:5%;
    z-index:1;
  }

  .scroll-top{
    width: 4rem;
    height: 4rem;
    background: var(--helper);
    display: inline-block;
    position:relative;
    padding:1.4rem 1.8rem;
    color:var(--white); 
    animation:water-wave 3s linear infinite;
    cursor:pointer;
  }

  /* media query  */

  @media (max-width:75em){  /* 1200  */
    .container{
        max-width:100rem;
        padding:0 3.2rem;
    }

    .navbar-lists{
        gap:3.2rem;
    }
  }

  @media (max-width:66em){  /* 1050  */
      html{
        font-size:56.25%;
      }

      .container{
        max-width:95rem;
      }

      .grid{
        gap:6.8rem;
      }
  }

  @media (max-width:58em){   /* 940 */
    html{
        font-size:48%;
    }

    .section-hero h1{
        line-height:1.05;
    }

    .section-services .grid-three-column{
        grid-template-columns:repeat(2, 1fr)
    }

    .section-services .grid{
        gap:6rem;
    }

    .section-footer .grid-four-column{
        grid-template-columns:1fr 1fr;
        text-align:center;
    }
  }

    @media (max-width:980px){
    .header{
        position:relative;
    }

    .img-overlay .common-heading{
        font-size:3.2rem;
    }

    .mobile-navbar-btn{
        display:block;
        z-index:9999;
        border:3px solid var(--black);
        color:var(--black);
    }

    .mobile-nav-icon{
        width: 5rem;
        height: 5rem;
        color:var(--black);
    }

    .header .logo{
        width:40%;
    }

    .navbar{
         width:100%;
         height:100vh; 
         position:absolute;
         top:0;
         left:0;
         background: var(--gradient);
         display: flex;
         justify-content: center;
         align-items: center;

         transform:translateX(100%);
        transition:all .5s linear;

       visibility:hidden;
       opacity:0;
       pointer-events:none;
       z-index: 999;

        }
        
        .navbar-lists{
        flex-direction: column;
        align-items: center;
    }

    .navbar .navbar-lists .navbar-link:link,
    .navbar .navbar-lists .navbar-link:visited{
        color:#212529;
        font-size:3.2rem;
    }
    
    .active .navbar{
        transform:translateX(0%);
        /* transition:all .5s linear; */

        visibility:visible;
       opacity:1;
       pointer-events:auto;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"]{
        display:none;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"]{
        display:block;
    } 

   } 

   @media (max-width:49em){
     .container{
        max-width:80rem;
     }

     .img-overlay .common-heading{
        font-size:2.2rem;
    }

     .section-hero .grid-two-column{
        grid-template-columns:1fr;
     }

     .section-hero-data{
        align-items: center;
     }

     .hero-para{
        text-align:center;
        margin-top:2rem;
     }

     .section-hero-image img{
        width:75%;
     }

     .section-biodata .grid-two-column{
        grid-template-columns:1fr;
     }

     .section-biodata .bio-image{
        /* grid-row-start:2; */
        /* grid-row-end:3; */   /* same upper code */
        grid-row: 2/3;  /*  we can right only 2 */
        margin-top:3.2rem;
     }

     .bio-image img{
        width:50%;
     }

     .section-portfolio .grid-three-column{
        grid-template-columns:repeat(2,1fr);
     }

     .section-work-data .grid-four-column{
        grid-template-columns:repeat(2,1fr);
     }
   }

   @media (max-width:35em){
    .header{
        padding:0 3.2rem;
    }

    .header .logo{
        width:50%;
    }

    .section-hero-data{
        text-align: center;
    }

    .p-btns{
        gap:2.8rem;
    }

    .p-btn{
        padding:1rem 2rem;
    }

    .counter-number{
        font-size:3.2rem;
    }

    .section-services .grid-three-column{
        grid-template-columns:1fr;
    }

    .section-freelancing h2{
        font-size:3.5rem;
    }

    .contact-container .grid-two-column{
        grid-template-columns:1fr;
    }

    .section-contact-main input[type='submit']{
        max-width:50%;
    }

    .contact-container{
        padding:0 3.2rem;
    }

    .section-footer .f-about, .section-footer .f-address{
        grid-column:1/-1;
    }
   }
